/*GENERAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    body {
        min-height: 100vh;
        background: linear-gradient(rgba(5, 5, 12, 0.2), rgba(5, 7, 12, 0.20)), url(../imagenes/fondo.jpg) no-repeat center center fixed;
        background-size: cover;
        color: $color-fuente;
        font-family: 'Roboto', sans-serif;
    }
}

.mapa {
    background-position: center;
    background-size: cover;
}
