/*MEDIA*/

/* VISTA MOVIL */

@media (max-width: 699px) {
    .gridPadre {
        grid-template-areas: 
        "header" 
        "nav" 
        "main" 
        "footer";
    }

    html {
        font-size: 80%;
    }

    nav {
        position: static;
    }

    .encabezado div {
        max-width: 90%;
    }

    section {
        text-align: center;

        img {
            width: 60%;
        }
    }
}

/* TABLETA */

@media (min-width: 700px) and (max-width: 1099px) {
    .gridPadre {
        grid-template-areas:
        "header header" 
        "nav nav" 
        "avion avion" 
        "mesaSillas mesaSillas" 
        "tablita tablita" 
        "footer footer";
    }

    html {
        font-size: 80%;
    }

    section img {
        width: 50%;
    }
}

/* PC */

@media (min-width: 1100px) {
    .gridPadre {
        grid-template-areas: 
        "header header header header" 
        "nav nav nav nav" 
        "avion avion avion avion" 
        "mesaSillas mesaSillas mesaSillas mesaSillas" 
        "tablita tablita tablita tablita" 
        "footer footer footer footer";
    }

    html {
        font-size: 80%;
    }

    section img {
        width: 50%;
    }
}